@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap');

body {
    color: white;
    padding: 30px;
    font-family: 'Inter';
}

button {
    background-color: white;
    font-family: 'Inter';
}

button:hover {
    background-color: grey;
}

form {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

input, Button {
    margin-bottom: 1px;
    border: none;
    width: 200px;
    border-radius: 5px;
}


form Button:nth-child(2) {
    width: 220px;
}

form Button:nth-child(3) {
    margin-top: 1px;
    width: 220px;
}

form Button:nth-child(2):hover {
    box-shadow: 0 0 5px rgb(26, 154, 204);
}

form Button:nth-child(3):hover {
    box-shadow: 0 0 5px rgb(255, 137, 137);
}

input {
    margin-top: 150px;
    font-size: 19px;
    font-family: 'Inter';
    padding: 10px;
}

input:hover {
    box-shadow: 0 0 5px lightblue;
}

#weather {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

#weather__container {
    line-height: 20px;
    text-align: start;
    display: flex;
    justify-content: space-between;
    background: linear-gradient(to top left, rgba(26, 154, 204, 0.7), rgba(255, 137, 137, 0.7));
    width: 210px;
    padding: 20px;
    border-radius: 30px;
}

#right-part img{
    margin-top: -10px;
    height: 50px;
    width: 50px;
}

#left-part p {
    line-height: 25px;
    margin: 0;
}

#left-part p:nth-child(1) {
    margin-bottom: 10px;
    font-family: sans-serif;
}

#title__city {
    font-size: 22px;
    font-weight: 700;
}